/*Default archive styling*/
.archive {
  @include make-col-ready();
  @include make-col(10);
  @include make-col-offset(1);

  h3.desc {
    padding: 2rem 0;
    margin: 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    p {
      width: 100%;
      color: $primary;
    }
  }

  .card {
    @include make-col-ready();
    @include make-col(5.66);
    margin: 1rem;
    padding: 1rem;
    border: 0;
    border-radius: 0;
    background: #eee;

    @media (max-width: 768px) {
      @include make-col(11);
    }

    h3 {
      margin-bottom: 1rem;
    }

    audio {
      width: 100%;
    }
  }
}

/*Podcast Page*/
#podcast-feed {

  .shows {

    .card {
      padding: 0.5rem;
      background: $secondary;

      .long {
        @include make-col-ready();
        @include make-col(10);
      }

      h3.card-title {
        color: white;
        text-align: center;
      }

      .card-body {
        color: white;

        .show-info {
          height: auto;

          @media (max-width: 768px) {
            height: auto;
          }
        }
      }

      img {
        float: left;
        margin-right: 1rem;
        margin-bottom: 0.5rem;

        @media (max-width: 768px) {
          float: none;
          width: 100%;
          height: auto;
        }
      }
    }

    button {
      @media (max-width: 768px) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

/*Video Page*/
#video-feed {
  .card {
    padding:0;
    background: transparent;
  }

  iframe {
    width: 100%;
  }
}
