footer {
  @include make-row();
  padding: 3rem 0;
  background-color: $primary;

  .logos {
    @include make-col-ready();
    @include make-col(2);
    @include make-col-offset(8);

    img {
      width: 100%;
      height: auto;
    }
  }

  .menu {
    padding: 0;
    list-style-type: none;
  }

  .menu-footer-links-container {
    @include make-col-ready();
    @include make-col(2);
    color: white;

    li a {
      font-size: 1.25rem;
      font-weight: 800;
      text-transform: uppercase;
      color: white;
    }
  }
}
