footer {
  @include make-row();
  display: flex;
  padding: 2rem 0;
  background-color: #eee;

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .logos {
    @include make-col-ready();
    @include make-col(5);
    margin-left: 0;
    padding-left: 0;
    @include make-col-offset(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: auto;

    @media (max-width: 1023px) {
      @include make-col(7);
      @include make-col-offset(1);
    }

    @media (max-width: 767px) {
      @include make-col(10);
      @include make-col-offset(1);
      padding-top: 2rem;
    }

    p {
      margin-bottom: 3rem;

      a {
        color: #333;
      }
    }

    img {
      height: 6rem;
      width: auto;
      padding-bottom: 1rem;

      @media (max-width: 767px) {
        width: 75%;
        height: auto;
        padding-bottom: 2rem;
      }

      &.cmi {
        height: 5.5rem;

        @media (max-width: 767px) {
          height: auto;
        }
      }
    }
  }

  .footer-links {
    @include make-col-ready();
    @include make-col(4);
    @include make-col-offset(2);

    @media (max-width: 1023px) {
      @include make-col(3);
      @include make-col-offset(1);
      padding-top: 2rem;
    }

    @media (max-width: 767px) {
      @include make-col(10);
      @include make-col-offset(1);
      order: -1;
    }

    .menu {
      padding: 0;
      list-style-type: none;
    }

    .menu-footer-links-container {

      .menu {
        justify-content: space-between;
      }

      li
        .sub-menu {
          padding-left: 1rem;
          list-style-type: none;

          a {
            text-transform: none;
            font-weight: normal;
          }
        }

        a {
          display: inline;
          font-size: 1.25rem;
          font-weight: 800;
          text-transform: uppercase;
          color: #333;
        }
    }
  }
}
