/*Section Colors*/
.index-primary { background-color: $primary; }
.index-secondary { background-color: $secondary; }
.index-accent { background-color: $red; }

/*Types of Sections*/
.half-section {
  @include make-col-ready();
  @include make-col(6);

  @media (max-width: 768px) {
    @include make-col(12);
  }
}

.one-third {
  @include make-col-ready();
  @include make-col(4);
}

.two-thirds {
  @include make-col-ready();
  @include make-col(8);
}

.index-primary,
.index-secondary,
.index-accent,
.index-section {
  @include make-row();
  padding: 3rem 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  align-content: center;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }

  button,
  li {
    min-width: 12.5%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  .index-secondary {
    margin-left: 0;
    padding-left: 0;
  }

  /*default styling for all home page section images*/
  img {
    @include make-col-ready();
    /*@include make-col(6);*/
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      @include make-col(12);
    }

    &.left {
      padding: 0;
    }

    &.offset {
      padding-left: 3rem;
    }

    &.right {
      @include make-col-offset(7);
    }

    &.one-third {
      @include make-col(4);
    }

    &.two-thirds {
      @include make-col(8);
    }

    &.half {
      @include make-col(6);
    }
  }

  .headline,
  .headline-primary,
  .headline-right,
  .headline-alt {
    @include make-col-ready();
    margin: 0;
    font-family: $font-family-header;
    font-size: 2.5rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .headline,
  .headline-primary {
    @include make-col(12);
    padding-right: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 800;
  }

  .headline-primary {
    color: $primary;
  }

  .headline-alt {
    @include make-col(9);
    @include make-col-offset(0);
    margin-left: 3rem;
    color: white;
    font-size: 2.75rem;
    font-weight: 800;

    @media (max-width: 768px) {
      @include make-col(10);
      @include make-col-offset(1);
      font-size: 2rem;
    }
  }

    .highlight p {
      display: inline;
      background-color: $red;
      white-space: pre-wrap;
    }

  /*.headline-right {
    @include make-col(9);
    @include make-col-offset(3);
    text-align: center;
    color: white;

    .highlight {
      display: inline;
      background-color: $primary;
    }
  }*/

  /*See our Work buttons*/
  .menu-see-our-work-container {
    @include make-col-ready();
    @include make-col(12);
    padding: 0;
    margin: 0;
    margin-top: 1rem;

    .menu {
      display: flex;
      justify-content: center;
    }

    li {
      margin: 0 1rem;
      min-width: 25%;
      border-width: 2px;

      &:hover a {
        color: $secondary;
      }

      a {
        color: white;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }
  }

  .inset-info {
    @include make-col-ready();
    @include make-col(8);
    @include make-col-offset(4);
    position: absolute;
    padding: 2rem;
    background: $secondary;
    box-sizing: border-box;

    @media (max-width: 768px) {
      @include make-col(12);
      @include make-col-offset(0);
      position: static;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      font-size: 1.25rem;
      color: white;
    }

    a {
      color: white;
      font-family: $font-family-header;
      font-size: 1.5rem;
    }
  }
}

/*Our Partners*/
.partners {
  @include make-row();
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    margin-top: 0;
    padding-top: 0;
  }

  img {
    @include make-col-ready();
    @include make-col(2);
    margin: 0 1.5rem;

    @media (max-width: 768px) {
      @include make-col(4);
    }
  }

  button {
    border-width: 2px;
  }
}

/*Button Links*/
button {
  a {
    color: white;
  }


  &:hover {
    &.primary a {
      color: $primary;
    }

    a {
      color: $secondary;
    }
  }
}
