/*Section Colors*/
.index-primary { background-color: $primary; }
.index-secondary { background-color: $secondary; }
.index-accent { background-color: $red; }

/*Types of Sections*/
.index-primary,
.index-secondary,
.index-accent,
.index-section {
  @include make-row();
  padding: 3rem 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  align-content: center;

  button,
  li {
    min-width: 12.5%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
  }

  /*default styling for all home page section images*/
  img {
    @include make-col-ready();
    @include make-col(6);

    &.left {
      padding: 0;
    }

    &.offset {
      padding-left: 3rem;
    }

    &.right {
      @include make-col-offset(7);
    }
  }

  .headline,
  .headline-right,
  .headline-alt {
    @include make-col-ready();
    margin: 0;
    font-family: $font-family-header;
    font-size: 2.5rem;
  }

  .headline,
  .headline-primary {
    @include make-col(12);
    padding-right: 0;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .headline-primary {
    color: $primary;
  }

  .headline-alt {
    @include make-col(9);
    margin-left: 3rem;
    color: white;
    font-size: 3.5rem;
    font-weight: normal;

    .highlight p {
      display: inline;
      background-color: $red;
      white-space: pre-wrap;
    }
  }

  /*.headline-right {
    @include make-col(9);
    @include make-col-offset(3);
    text-align: center;
    color: white;

    .highlight {
      display: inline;
      background-color: $primary;
    }
  }*/

  /*See our Work buttons*/
  .menu-see-our-work-container {
    @include make-col-ready();
    @include make-col(12);
    padding: 0;
    margin: 0;
    margin-top: 1rem;

    .menu {
      display: flex;
      justify-content: center;
    }

    li {
      margin: 0 1rem;
      min-width: 25%;
      border-width: 3px;

      &:hover {
        color: $secondary;
      }

      a {
        color: white;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }
  }

  .inset-info {
    @include make-col-ready();
    @include make-col(8);
    @include make-col-offset(4);
    position: absolute;
    padding: 2rem;
    background: $red;
    box-sizing: border-box;

    p {
      margin-bottom: 0;
      font-size: 1.25rem;
      color: white;
    }

    a {
      color: white;
      font-family: $font-family-header;
      font-size: 1.5rem;
    }
  }
}

.half-section {
  @include make-col-ready();
  @include make-col(6);
}

/*Our Partners*/
#partners {
  margin-left: 3rem;
  padding-top: 1rem;
  align-items: center;

  img {
    @include make-col-ready();
    @include make-col(2);
  }

  button {
    border-width: 3px;
  }
}
