nav {
  @include make-container();

  .menu {
    display: flex;
    list-style-type: none;
  }

  /*Logo and Buttons Row*/
  .primary {
    @include make-row();
    height: 6rem;
    padding-top: 0.75rem;
    box-sizing: border-box;
    align-items: center;

    #logo {
      @include make-col-ready();
      @include make-col(3.5);
      margin-left: 3rem;

      a:hover {
        text-decoration: none;
      }

      img {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
      }
    }

    /*Make sure mobile nav is hidden on desktop*/
    #mobile-nav {
      display: none;
    }

    #mobile-links {
      display: none;
    }

    /*Buttons*/
    .menu-top-buttons-container {
      @include make-col-ready();
      @include make-col(5);
      @include make-col-offset(6.75);

      .menu {
        justify-content: space-around;
        margin-top: -4.5rem;
      }

      li {
        min-width: 33.333%;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;

        a {
          color: white;
        }
      }
    }
  }

  /*Second links*/
  .secondary,
  .sticky-nav {
    @include make-row();
    height: 3rem;
    background-color: $primary;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 9999;

    .menu-secondary-navigation-container,
    .menu-sticky-menu-container {
      @include make-col-ready();
      width: 100%;
      padding-top: 0.5rem;

      .menu {
        justify-content: space-between;
      }

      /*displays sub-items on hover*/
      .menu-item-has-children {
        &:hover {
          .sub-menu {
            height: auto;
            max-height: 200px;
          }
        }
      }

      li {
        a {
          font-size: 1.25rem;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
        }

        .sub-menu {
          overflow: hidden;
          position: absolute;
          max-height: 0;
          margin-left: 0;
          padding: 0.25rem 1rem;
          box-sizing: border-box;
          background: $primary;
          list-style-type: none;
          z-index: 9999999;
          transition: max-height .33s ease-in-out;

          li a {
            text-align: left;
            text-transform: none;
          }
        }
      }
    }
  }
}

.menu-secondary-navigation-container {
  @include make-col(6);
  @include make-col-offset(5.5);
}

/*extra classes for sticky header on scroll*/
.menu-sticky-menu-container {
  @include make-col(12);
  @include make-col-offset(0);
}

.sticky-nav {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.nav-up {
  top: -3rem;
  transition: 0.3s ease-in-out;
}


/****MOBILE STYLING*****/

nav {
  .primary {

    /*Mobile nav & icon*/
    @media (max-width: 768px) {
      #mobile-nav {
        display: inline-block;
        position: absolute;
        right: 0;
        color: $primary;
        font-size: 1.75rem;
        padding-right: 2rem;
        cursor: pointer;
      }

      #mobile-links {
        display: none;

        .menu-mobile-nav-container {
          list-style-type: none;

          .menu {
            display: block;
            position: absolute;
            top: 3rem;
            right: 3rem;
            background-color: $primary;
            padding: 0.5rem 1rem;
            z-index: 9999999;

            li a {
              color: white;
            }
          }
        }

        &.show {
          display: block;
        }
      }
    }

    @media (max-width: 380px) {
      padding-top: 0.33rem;
      height: 4rem;
    }

    #logo {
      @media (max-width: 1023px) {
        @include make-col-ready();
        @include make-col(5);
        margin-left: 0;

        @media (max-width: 768px) {
          @include make-col(6);
        }

        @media (max-width: 380px) {
          @include make-col(8);
        }
      }
    }

    .menu-top-buttons-container {
      @media (max-width: 1023px) {
        @include make-col(7);
        @include make-col-offset(5);
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .secondary {
    @media (max-width: 768px) {
      display: none;
    }

    .menu-secondary-navigation-container {
      @media (max-width: 1023px) {
        @include make-col(9);
        @include make-col-offset(2.75);
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
