nav {
  @include make-container();

  .menu {
    display: flex;
    list-style-type: none;
  }

  /*Logo and Buttons Row*/
  .primary {
    @include make-row();
    height: 6rem;
    padding-top: 1rem;
    box-sizing: border-box;

    #logo {
      @include make-col-ready();
      width: 100%;
      height: auto;

      a:hover {
        text-decoration: none;
      }

      img {
        @include make-col(1);
        vertical-align: middle;
        width: auto;
        height: 3.5rem;
      }

      .title {
        @include make-col(3);
        vertical-align: middle;
        padding-left: 0.5rem;
        color: $primary;
        font-size: 2.5rem;
        font-family: $font-family-logo;
        font-weight: 700;
        font-style: italic;
      }
    }

    .menu-top-buttons-container {
      @include make-col-ready();
      @include make-col(5);
      @include make-col-offset(7);

      .menu {
        justify-content: space-around;
        margin-top: -3rem;
      }

      li {
        min-width: 33.333%;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;

        a {
          color: white;
        }
      }
    }
  }

  /*Other links*/
  .secondary {
    @include make-row();
    height: 3rem;
    background-color:  $primary;
    box-sizing: border-box;
    justify-content: space-between;

    .menu-secondary-navigation-container {
      @include make-col-ready();
      @include make-col(6);
      @include make-col-offset(6);
      width: 100%;
      padding-top: 0.5rem;

      @media (max-width: 1023px) {
        @include make-col(9);
        @include make-col-offset(3);
      }

      .menu {
        justify-content: space-between;
      }

      li a {
        margin-right: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}
