/* Colors */
$primary: #002c60;
$secondary: #2c7d7d; /*519b76*/
$blue: #002c60;
$red: #ff6047; /*#ba002a;*/
$teal: #2c7d7d;
$light-grey: #ccc;
$dark-grey: #555;
$body-copy: #222;

/* Fonts */
$font-size-base: 1.15rem;
$font-family-base: acumin-pro, sans-serif;
$font-family-header: montserrat, sans-serif;
$font-family-logo: acumin-pro-condensed, sans-serif;
