/* Colors */
$primary: #002c60;
$secondary: #2c7d7d;
$blue: #002c60;
$red: #ff6047;
$teal: #2c7d7d;
$light-grey: #ccc;
$dark-grey: #555;

/* Fonts */
$font-family-base: acumin-pro, sans-serif;
$font-family-header: jubilat, serif;
$font-family-logo: zenon, sans-serif;
